body {
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: white;
}

header {
    background-color: #004268a4;
    color: white;
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

h1 {

    font-size: 20px;
}

h2 {

    font-size: 15px;
}

h3 {

    font-size: 10px;
}

main {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#word {
    font-size: 2em;
    letter-spacing: 10px;
    margin-bottom: 20px;
}

#hangman-figure {
    width: 200px;
    height: 250px;
    margin: 0 auto 20px;
    position: relative; /* Para posicionar las partes del muñeco */
}

/* Base */
.base {
    width: 100px;
    height: 20px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Poste */
.post {
    width: 10px;
    height: 200px;
    background-color: black;
    position: absolute;
    bottom: 20px; /* Encima de la base */
    left: 50%;
    transform: translateX(-50%);
}

/* Viga */
.beam {
    width: 150px;
    height: 10px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* Cuerda */
.rope {
    width: 2px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 10px; /* Debajo de la viga */
    left: 100px; /* A la derecha de la viga */
}

/* Cabeza */
.head {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    position: absolute;
    top: 60px; /* Debajo de la cuerda */
    left: 90px; 
}

/* Cuerpo */
.body {
    width: 5px;
    height: 80px;
    background-color: black;
    position: absolute;
    top: 100px; /* Debajo de la cabeza */
    left: 100px;
}

/* Brazos y piernas (inicialmente ocultos) */
.left-arm, .right-arm, .left-leg, .right-leg {
    width: 40px;
    height: 5px;
    background-color: black;
    position: absolute;
    display: none; /* Se mostrarán al equivocarse */
}


#guesses-remaining {
    margin-bottom: 20px;
}

#keyboard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 5px;
    margin-bottom: 20px;
}

#keyboard button {
    padding: 10px;
    font-size: 1em;
    border: none;
    background-color: #020a2e;
    color: white;
    cursor: pointer;
}